# ignore all files starting with . or ~
.*
~*
!.gitkeep
!.changeset
!.husky
!.github
!.npmrc
!.eslintrc*
!.eslintignore*
!.prettierrc*
!.prettierignore*

# ignore node/grunt dependency directories
**/node_modules/

# ignore system files
.DS_Store

# build files
*.tsbuildinfo
lib/
dist/
build/